<h2 class="text-center text-primary">Add a New Piece</h2>

<form method="POST" action="/pieces">
  Name: <br>
  <input name="name" /><br>
  Img: <br>
  <input name="img" /><br>
  BirthYear: <br>
  <input name="birthYear" /><br>
  DeathYear: <br>
  <input name=deathYear" />
  <input type="submit" value="submit" />
</form>
<!-- TODO: Add a form for making a new piece. Should post to /pieces -->
